<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-one-third-desktop">
                        <div class="box shadow-box">
                            <form
                                class="form"
                                @submit.prevent
                                novalidate="true"
                            >
                                <b-field label="Email">
                                    <b-input
                                        v-model="user.email"
                                        name="email"
                                        autofocus

                                    />
                                </b-field>
                                <div class="has-text-centered">
                                    <button
                                        type="button"
                                        class="button is-primary is-rounded"
                                        @click="onReset"
                                    >
                                        Sign in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import showStatusToast from '../components/mixin/showStatusToast';

export default {
    name: 'ResetPasswordWithoutToken',

    mixins: [showStatusToast],

    data: () => ({
        status: false,
        user: {
            email: '',
        },
    }),
    computed: {
    },
    methods: {
        ...mapActions('auth', [
            'resetPasswordWithoutToken',
        ]),

        onReset() {
            try {
                this.resetPasswordWithoutToken(this.user)
                    .then(() => {
                        this.showSuccessMessage('Check email!');
                        // this.$router.push({ path: '/auth/sign-in' }).catch(() => {});
                    }).catch(error => this.showErrorMessage(error.message));
            } catch {
                this.showErrorMessage('Unable open form reset!');
            }
        },

    },
};
</script>

<style scoped>
</style>
