<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-one-third-desktop">
                        <div class="box shadow-box">
                            <form
                                class="form"
                                @submit.prevent
                                novalidate="true"
                            >
                                <b-field label="Email">
                                    <b-input
                                        v-model="user.email"
                                        name="email"
                                        autofocus
                                    />
                                </b-field>

                                <b-field label="Password">
                                    <b-input
                                        type="password"
                                        v-model="user.password"
                                        @keyup.native.enter="onReset"
                                    />
                                </b-field>
                                <b-field label="Password_confirmation">
                                    <b-input
                                        type="password"
                                        v-model="user.passwordConfirmation"
                                        @keyup.native.enter="onReset"
                                    />
                                </b-field>
                                <b-input
                                    type="hidden"
                                    v-model="user.token"
                                />
                                <div class="has-text-centered">
                                    <button
                                        type="button"
                                        class="button is-primary is-rounded"
                                        @click="onReset"
                                    >
                                        Sign in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import showStatusToast from '../components/mixin/showStatusToast';

export default {
    name: 'ResetPasswordWithToken',

    mixins: [showStatusToast],

    data: () => ({
        user: {
            email: '',
            password: '',
            passwordConfirmation: '',
            token: '',
        },
    }),
    created() {
        this.user.email = this.$route.query.email;
        this.user.token = this.$route.query.token;
    },
    computed: {
        paramEmail() {
            return this.$route.params.email;
        },
        paramToken() {
            return this.$route.params.token;
        },

    },
    methods: {
        ...mapActions('auth', [
            'resetPasswordWithToken',
        ]),
        onReset() {
            this.resetPasswordWithToken({
                token: this.user.token,
                email: this.user.email,
                password: this.user.password,
                passwordConfirmation: this.user.passwordConfirmation
            })
                .then((data) => {
                    if (data === 'Token not valid') {
                        this.showSuccessMessage(data.message);
                        this.$router.push({ name: 'auth.resetPasswordWithToken' }).catch(() => {});
                    }
                    this.showSuccessMessage(data);
                    this.$router.push({ path: '/' }).catch(() => {});
                })
                .catch(error => this.showErrorMessage(error.message));
        },

    },
};
</script>

<style scoped>
</style>
