<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-three-quarters-mobile is-two-thirds-tablet is-one-third-desktop">
                        <div class="box shadow-box">
                            <p class="subtitle">
                                Don't have an account?
                                <router-link class="link" to="/auth/sign-up">
                                    Sign up
                                </router-link>
                            </p>

                            <form
                                class="form"
                                @submit.prevent
                                novalidate="true"
                            >
                                <b-field label="Email">
                                    <b-input
                                        name="email"
                                        v-model="user.email"
                                        autofocus
                                    />
                                </b-field>

                                <b-field label="Password">
                                    <b-input
                                        name="password"
                                        type="password"
                                        v-model="user.passwords"
                                        @keyup.native.enter="onLogin"
                                    />
                                </b-field>
                                <b-field label="Reset password">
                                    <b-checkbox
                                        @input="onReset"
                                    />
                                </b-field>


                                <div class="has-text-centered">
                                    <button
                                        type="button"
                                        class="button is-primary is-rounded"
                                        @click="onLogin"
                                    >
                                        Sign in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import showStatusToast from '../components/mixin/showStatusToast';

export default {
    name: 'SignInPage',

    mixins: [showStatusToast],

    data: () => ({
        isResetStatus: false,
        user: {
            email: '',
            passwords: '',
        },
    }),
    computed: {
        isReset() {
            if (!this.user.check) {
                console.log('test');
            }
            return 0;
        },
    },
    methods: {
        ...mapActions('auth', [
            'signIn',
        ]),
        onReset() {
            this.isResetStatus = true;
            // this.$router.push({ name: 'auth.resetPassword' }).catch(() => {});
        },
        onLogin() {
            if (this.isResetStatus === true) {
                this.$router.push({ name: 'auth.ResetPasswordWithoutToken' }).catch(() => {});
                return;
            }
            this.signIn(this.user)
                .then(() => {
                    this.showSuccessMessage('Welcome!');

                    this.$router.push({ path: '/' }).catch(() => {});
                })
                .catch(error => this.showErrorMessage(error.message));
        },
    },
};
</script>

<style scoped>
</style>
